.card {
  margin: 1rem;

  --cardWidht: 17rem;
  max-width: var(--cardWidht);
  padding: 1rem;
  display: grid;
  grid-template-rows: 3.5rem 4rem 2rem;
  border: .1rem #dddddd solid;
  border-radius: 10px;


  .title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .details {
    strong {
      font-weight: 500;
    }

    .address {
      height: 1.5rem;
      width: var(--cardWidht);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .cuisine {
      height: 1.5rem;
      width: var(--cardWidht);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .buttons {
    display: inline-flex;
    min-width: var(--cardWidht);
    justify-content: space-between;

    a {
      min-width: calc((var(--cardWidht) - 2rem) / 2.1);

      text-decoration: none;
      align-self: center;
      text-align: center;
      color: black;
      background-color: #ffffff;
      border: .1rem #2a9d8f solid;
      border-radius: .3rem;
      cursor: pointer;
      font-size: 1rem;
      padding: .3rem .2rem;
      transition: .3s;

      &:hover {
        color: #ffffff;
        background-color: #2a9d8f;

      }
    }
  }
}