.navbar {
  display: flex;
  background: rgb(231,111,81);
  background: linear-gradient(90deg, rgba(231,111,81,1) 0%, rgba(244,162,97,1) 100%);

  * {
    text-decoration: none;
  }

  .brand {
    h2 {
      margin: 1.5rem;
      color: azure;
    }
  }

  .links {
    align-self: center;

    a {
      color: #ffdfd7;
      padding: .5rem;

      &:hover {
        color: azure;
      }
    }

    .nav-active {
      color: azure;
    }
  }

}